.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.age-increase{
  display: flex;
  justify-content: center;
  align-items: center;
}
.age-button{
  height: 40px;
  width: 200px;
  margin: 10px;
}